.movie-container,
.movie-details,
.movie-details__text,
.text__genres {
  display: flex;
}

.movie-container {
  align-items: center;
  flex-direction: column;
  font-weight: 300;
  justify-content: center;
  margin-top: 2.5rem;
  padding: 10px;
}

#movie-title {
  font-size: 2rem;
  text-align: center;
}

.movie-details__poster {
  margin: 1rem;
}

.movie-details__text {
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.movie-details__text > span {
  margin-bottom: 5px;
}

.text__summary {
  max-width: 800px;
}

.text__genres {
  flex-direction: column;
}

@media screen and (max-width: 1090px) {
  .movie-container {
    margin-top: 0;
  }

  .movie-details {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
